@using HFTLibrary.Data
@using HFTLibrary.Models
@using System.Diagnostics
@using SessionData

@inject IEFCoreData _db;
@inject SessionData _session;

<div class="row card">
    <div class="col">

        <div class="row my-2">
            <div class="col-1">
                <label>Pos.</label>
            </div>

            <div class="col">
                <label>Bezeichnung</label>
            </div>

            <div class="col-3">
                <label>Konto</label>
            </div>

            <div class="col-2">
                <label>Betrag</label>
            </div>

            <div class="col-1">
                <label>&nbsp;</label>
            </div>
        </div>

        @for (int i = 0; i < FinancialPlan.Expenses.Count; i++)
        {
            var expense = FinancialPlan.Expenses[i];

            <div class="row align-items-center border-top border-bottom border-1">
                <div class="col-1">
                    <label>@(i + 1)</label>
                </div>

                <div class="col">
                    <label>@expense.Name</label>
                </div>

                <div class="col-3">
                    <label>@expense.AssociatedBankAccount?.Name</label>
                </div>

                <div class="col-2">
                    <label>@expense.PriceString</label>
                </div>

                <div class="col-1 bi bi-three-dots-vertical btn" title="Einkommen bearbeiten" @onclick="@(() => OnModifyExpenseButtonClick(expense.Id))" />
            </div>
        }

    </div>
</div>

<div class="row">
    <hr class="my-4" />
</div>

<div class="row my-2">
    <div class="col" />
    <div class="col-auto ">
        <button type="submit" class="btn btn-outline-primary px-4">Speichern</button>
    </div>
</div>


@code
{
    // private FinancialPlanModel? _financialPlan = null;
    [Parameter]
    public FinancialPlanModel FinancialPlan { get; init; }
    private bool _showDeleteConfirmDialog = false;

    private void OnModifyExpenseButtonClick(int expenseId)
    {
        Debug.WriteLine($"In {nameof(OnModifyExpenseButtonClick)}() - {expenseId}");
        // _showDeleteConfirmDialog = true;
    }
}