@page "/FinancialPlanData"
@rendermode InteractiveServer

@using System.Diagnostics
@using BlazorUI.ViewModels
@using HFTLibrary.Data
@using SessionData

@inject IEFCoreData _db;
@inject SessionData _session;
@inject IConfiguration _config;

<PageTitle>@_config["AppShortName"] - Allgemeine Daten</PageTitle>

<div class="container-fluid border-bottom border-1 mb-3 px-0">
    <div class="row mx-0 mb-3">
        <div class="col p-0">
            <h3 class="mb-1 mt-1">Allgemeine Daten</h3>
        </div>
    </div>
</div>

<div class="container-fluid mb-4 px-0">
    @if (_financialPlan is null)
    {
        <div class="row">
            <p class="fs-4 text-danger">Lade Finanzplan...</p>
        </div>
    }
    else if (_showDeleteConfirmDialog)
    {
        <div class="row">
            <div class="col">
                <DeleteFinancialPlan OnDialogClosed="OnDialogClosed" />
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">

                <EditForm Model="@_financialPlan" OnSubmit="HandleValidSubmitAsync" FormName="FinancialPlanForm">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="card">

                        <div class="card-body py-0">

                            <div class="row justify-content-end mt-2 pe-1">
                                <div class="col-auto bi bi-trash btn btn-outline-danger py-2 mt-1 me-2" title="Finanzplan löschen" @onclick="OnDeleteButtonClick" />
                            </div>

                            <div class="row">
                                <div class="container">

                                    <div class="row my-2">
                                        <div class="col-4">
                                            <label>ID:</label>
                                        </div>
                                        <div class="col">
                                            <span>@_financialPlan.Id</span>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col-4">
                                            <label>Name:</label>
                                        </div>
                                        <div class="col">
                                            <InputText @bind-Value="@_financialPlan.Name" class="w-100" />
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col-4">
                                            <label>Beschreibung:</label>
                                        </div>
                                        <div class="col">
                                            <InputText @bind-Value="@_financialPlan.Description" class="w-100" />
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col-4">
                                            <label>Erstellt am:</label>
                                        </div>
                                        <div class="col">
                                            <span>@_financialPlan.DateCreated.ToShortDateString() - @_financialPlan.DateCreated.ToLongTimeString() Uhr</span>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col-4">
                                            <label>Zuletzt bearbeitet am:</label>
                                        </div>
                                        <div class="col">
                                            <span>@_financialPlan.DateModified.ToShortDateString() - @_financialPlan.DateModified.ToLongTimeString() Uhr</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="container my-2 mt-3 border-top border-1 px-0">
                        <div class="row mt-3 justify-content-end">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-primary px-4">Speichern</button>
                            </div>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    }

</div>

@code {
    private FinancialPlanViewModel? _financialPlan = null;
    private bool _showDeleteConfirmDialog = false;

    protected override async Task OnInitializedAsync()
    {
        _financialPlan = (await _db.GetFinancialPlanAsync(_session.SelectedFinancialPlanId))?.ToFinancialPlanViewModel();
    }

    private async Task HandleValidSubmitAsync()
    {
        if (_financialPlan is null)
        {
            return;
        }

        _financialPlan.DateModified = DateTime.Now;
        await _db.CreateOrUpdateFinancialPlanAsync(_financialPlan.ToFinancialPlanDTO());
    }

    private void OnDeleteButtonClick()
    {
        _showDeleteConfirmDialog = true;
    }

    private void OnDialogClosed()
    {
        _showDeleteConfirmDialog = false;
        StateHasChanged();
    }
}